\#*
.\#*
*~
*.sh
!autogen.sh
*.do
*.html
!/src/404.html
*.pdf
*.txt
*.tex
*.log
*.conf
*.cron
*.local.org
*.pyc
*.elc
*.pid
*.stamp
*.tex
*.tmplc
*.vhost
dump
cache
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.php
config.status
config.sub
configure
config.h.in
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
/org
src/*.el
src/autorg
src/autorg-*
!/src/autorg-*.in
!/src/*.png
stamp-h1
tags
src/old
share/config
